<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sports.gonzalomoreno.basketteamstats" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_basket"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name="com.sports.gonzalomoreno.basketteamstats.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.sports.gonzalomoreno.basketteamstats.GameActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.sports.gonzalomoreno.basketteamstats.Intro"
            android:label="Basket Team Stats"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sports.gonzalomoreno.basketteamstats.PlayerStandsActivity"
            android:label="@string/title_activity_global_standing"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.sports.gonzalomoreno.basketteamstats.TeamStandsActivity"
            android:label="@string/title_activity_team_stands"
            android:screenOrientation="portrait">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6c596852a69ba3dbd914d4cf95e7c960722d2301" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
